{% extends "layout.html" %}

{% block title %}
info
{% endblock %}

{% block top %}
<h1>{{ iwate_bousai.title }}</h1>
{{  iwate_bousai.content }}

<div class="accordion" id="accordionExampleOne">
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingOne">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            注意報
        </button>
      </h2>
      
{% for result in terebi %}
      <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExampleOne">
        <div class="accordion-body">
          <strong>{{ result }}</strong>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>



<hr>

<h1>X (SNS)</h1>
{% if x_tweets %}
{% for tweet in x_tweets %}
<p>{{ tweet.text }}</p>
<p>{{ tweet.url }}</p>
{% endfor %}
{% else %}
<p>ツイートがありません</p>
{% endif %}

<hr>

<iframe width="560" height="315" src="https://www.youtube.com/embed/c7_kqMFDE8c?si=5PXHbb_W6oqwhuDy"
    title="YouTube video player" frameborder="0"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
    referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
{% endblock %}
