{% extends "layout.html" %}

{% block title %}
map
{% endblock %}

{% block top %}
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
<style>
    #map {
        height: 500px;
        width: 70%;
        margin: 0 auto;
    }
</style>
<div id="map"></div>

<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
<script>
    // 地図の初期表示
    var map = L.map('map').setView([39.701659, 141.136718], 13); // 東京駅の緯度経度

    // 地図タイルの設定
    L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
        attribution: '© OpenStreetMap contributors'
    }).addTo(map);

    // マーカーを追加
    var marker = L.marker([39.701659, 141.136718]).addTo(map)
        .bindPopup('盛岡駅')
        .openPopup();
</script>
{% endblock %}