{% extends "layout.html" %}

{% block title %}
map
{% endblock %}

{% block top %}
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
<style>
    #map {
        height: 500px;
        width: 70%;
        margin: 0 auto;
    }
</style>
<div id="map"></div>

<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
<script>
    // 現在位置を取得する関数
    function getCurrentPosition() {
        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(
                function (position) {
                    console.log("Latitude: " + position.coords.latitude);
                    console.log("Longitude: " + position.coords.longitude);
                },
                function (error) {
                    console.log("Error: " + error.message);
                }
            );
        } else {
            console.log("Geolocation is not supported by this browser.");
        }
    }
    // 関数を呼び出す
    getCurrentPosition();

    // 地図の初期表示
    var map = L.map('map').setView([39.741342617756274, 141.14154878158686], 13); // 東京駅の緯度経度

    // 地図タイルの設定
    L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
        attribution: '© OpenStreetMap contributors'
    }).addTo(map);

    // マーカーを追加
    var marker = L.marker([39.741342617756274, 141.14154878158686]).addTo(map)
        .bindPopup('黒石野中学校')
        .openPopup();
    // var marker = L.marker([39.70196447156899, 141.13575319162757]).addTo(map)
    //     .bindPopup('盛岡駅')
    //     .openPopup();

    var marker = L.marker([39.69768211511223, 141.11705442911614]).addTo(map)
        .bindPopup('太田児童センター')
        .openPopup();
    var marker = L.marker([39.71583385316103, 141.17429398373253]).addTo(map)
        .bindPopup('山岸児童・老人福祉センター')
        .openPopup();
    var marker = L.marker([39.71437298566296, 141.16941165304618]).addTo(map)
        .bindPopup('山岸小学校')
        .openPopup();
    var marker = L.marker([39.70932374644012, 141.1694184755205]).addTo(map)
        .bindPopup('加賀野児童・老人福祉センター')
        .openPopup();
    var marker = L.marker([39.710719994841746, 141.16205633770298]).addTo(map)
        .bindPopup('愛宕山老人福祉センター')
        .openPopup();
    var marker = L.marker([39.71056609710315, 141.1622898379727]).addTo(map)
        .bindPopup('中央公民館')
        .openPopup();
    var marker = L.marker([39.70865403755252, 141.15605419722473]).addTo(map)
        .bindPopup('下小路中学校')
        .openPopup();
    var marker = L.marker([39.70380907518915, 141.16108599722457]).addTo(map)
        .bindPopup('城南小学校')
        .openPopup();
    var marker = L.marker([39.69652119611171, 141.15829931256744]).addTo(map)
        .bindPopup('盛岡河南公民館（盛岡劇場)')
        .openPopup();
    var marker = L.marker([39.69685775751008, 141.15700534587538]).addTo(map)
        .bindPopup('杜陵老人福祉センター')
        .openPopup();
    var marker = L.marker([39.69294959510916, 141.1581383530453]).addTo(map)
        .bindPopup('大慈寺小学校')
        .openPopup();
    var marker = L.marker([39.69135435012038, 141.16680317552027]).addTo(map)
        .bindPopup('中野小学校')
        .openPopup();
    var marker = L.marker([39.74260654188402, 141.14578362698535]).addTo(map)
        .bindPopup('緑が丘地区活動センター')
        .openPopup();
    var marker = L.marker([39.73987297195723, 141.14786062421123]).addTo(map)
        .bindPopup('緑が丘小学校')
        .openPopup();
    var marker = L.marker([39.7375702250974, 141.14476399722594]).addTo(map)
        .bindPopup('緑が丘児童・老人福祉センター')
        .openPopup();
    
    var marker = L.marker([39.7375702250974, 141.14476399722594]).addTo(map)
        .bindPopup('緑が丘児童・老人福祉センター')
        .openPopup();
    var marker = L.marker([39.71500527213326, 141.1478528279113]).addTo(map)
        .bindPopup('上田中学校')
        .openPopup();
    var marker = L.marker([39.70865403755252, 141.15596836653853]).addTo(map)
        .bindPopup('下小路中学校')
        .openPopup();
    var marker = L.marker([39.69796280679521, 141.14678333955268]).addTo(map)
        .bindPopup('下橋中学校')
        .openPopup();
    var marker = L.marker([39.74950369964042, 141.11535435304762]).addTo(map)
        .bindPopup('北陵中学校')
        .openPopup();
    var marker = L.marker([39.7375702250974, 141.14476399722594]).addTo(map)
        .bindPopup('厨川中学校')
        .openPopup();
    var marker = L.marker([39.72290255199262, 141.11586758373275]).addTo(map)
        .bindPopup('緑が丘児童・老人福祉センター')
        .openPopup();

    var marker = L.marker([39.684118821589664, 141.11278653955233]).addTo(map)
        .bindPopup('大宮中学校')
        .openPopup();
    var marker = L.marker([39.64301860402352, 141.16094491256544]).addTo(map)
        .bindPopup('見前南中学校')
        .openPopup();
    var marker = L.marker([39.71339178176998, 141.09151326653884]).addTo(map)
        .bindPopup('土淵小・中学校')
        .openPopup();
    
        
    
</script>
{% endblock %}