{% extends "layout.html" %}

{% block title %}
map
{% endblock %}

{% block top %}
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
<style>
    #map {
        height: 500px;
        width: 70%;
        margin: 0 auto;
    }
</style>
<div id="map"></div>
<div class="container mt-4">
<ul class="list-group" id="distances">
    <li class="list-group-item active" aria-current="true">避難所一覧</li>
</ul>
<hr>
<ul class="list-group" id="hospital_distances">
    <li class="list-group-item active" aria-current="true">病院一覧</li>
</ul>
<hr>
<ul class="list-group" id="pharmacy_distances">
    <li class="list-group-item active" aria-current="true">薬局一覧</li>
</ul>
</div>
<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
<script>

    // 度をラジアンに変換する関数
    function deg2rad(deg) {
        return deg * (Math.PI / 180);
    }
    // Haversine 公式を使って距離を計算する関数
    function getDistanceFromLatLon(lat1, lon1, lat2, lon2) {
        const R = 6371; // 地球の半径（km）
        const dLat = deg2rad(lat2 - lat1); // 緯度差をラジアンに変換
        const dLon = deg2rad(lon2 - lon1); // 経度差をラジアンに変換
        const a =
            Math.sin(dLat / 2) * Math.sin(dLat / 2) +
            Math.cos(deg2rad(lat1)) * Math.cos(deg2rad(lat2)) *
            Math.sin(dLon / 2) * Math.sin(dLon / 2);
        const c = 2 * Math.atan2(Math.sqrt(a), Math.sqrt(1 - a));
        const distance = R * c; // 距離を計算
        return distance; // 距離を返す（km）
    }

    // 現在位置を取得する関数
    async function getMyPosition() {
        return new Promise((resolve, reject) => {
            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(
                    function (position) {
                        console.log("Latitude: " + position.coords.latitude);
                        console.log("Longitude: " + position.coords.longitude);
                        resolve([position.coords.latitude, position.coords.longitude]);
                    },
                    function (error) {
                        console.log("Error: " + error.message);
                        reject(error);
                    }
                );
            } else {
                console.log("Geolocation is not supported by this browser.");
                resolve([0, 0]);
            }
        });
    }
    // 関数を呼び出す
    getMyPosition().then((position) => {
        console.log(position);
        const myPosition = position;
        myLatitude = myPosition[0];
        myLongitude = myPosition[1];
        fetch("/register_position", {
            method: "POST",
            headers: {
                "Content-Type": "application/json"
            },
            body: JSON.stringify(
                {
                    user_id: "{{ user_id }}",
                    latitude: myLatitude,
                    longitude: myLongitude
                }
            )
        });
        moriokaLatitude = 39.70196447156899;
        moriokaLongitude = 141.13575319162757;
        var distances = []
        {% for shelter in shelters %}

        // distance = Math.sqrt(({{shelter.Latitude}} - moriokaLatitude) ** 2 + ({{shelter.Longitude}} - moriokaLongitude) ** 2);
        distance = getDistanceFromLatLon({{ shelter.Latitude }}, {{ shelter.Longitude }}, moriokaLatitude, moriokaLongitude);

        // console.log(distance);
        // 避難所名と距離を配列に保存
        distances.push({
            id: "{{ shelter.id }}",
            name: "{{shelter.name}}",
            distance: distance
        });
        {% endfor %}
        // forループの最後で距離順にソートして表示
        if (distances.length === {{ shelters | length }}) {
            distances.sort((a, b) => a.distance - b.distance);
            distances.forEach(shelter => {
                var link = document.createElement("a")
                link.textContent = shelter.name + ": " + shelter.distance * 110 + "km";
                link.href = "/detail/" + shelter.id
                var li = document.createElement("li");
                li.appendChild(link);
                li.classList.add("list-group-item")
                document.getElementById("distances").appendChild(li);
            });
        }

        var hospital_distances = []
        {% for hospital in hospitals %}
        // distance = Math.sqrt(({{hospital.Latitude}} - moriokaLatitude) ** 2 + ({{hospital.Longitude}} - moriokaLongitude) ** 2);
        distance = getDistanceFromLatLon({{ hospital.Latitude }}, {{ hospital.Longitude }}, moriokaLatitude, moriokaLongitude);
        console.log(distance);
        // 避難所名と距離を配列に保存
        hospital_distances.push({
            name: "{{hospital.name}}",
            distance: distance
        });
        {% endfor %}
        // forループの最後で距離順にソートして表示
        if (hospital_distances.length === {{ hospitals | length }}) {
            hospital_distances.sort((a, b) => a.distance - b.distance);
            hospital_distances.forEach(shelter => {
                var li = document.createElement("li");
                li.textContent = shelter.name + ": " + shelter.distance * 110 + "km";
                li.classList.add("list-group-item")
                document.getElementById("hospital_distances").appendChild(li);
            });
        }


        var pharmacy_distances = []
        {% for pharmacy in pharmacies %}
        // distance = Math.sqrt(({{pharmacy.Latitude}} - moriokaLatitude) ** 2 + ({{pharmacy.Longitude}} - moriokaLongitude) ** 2);
        distance = getDistanceFromLatLon({{ pharmacy.Latitude }}, {{ pharmacy.Longitude }}, moriokaLatitude, moriokaLongitude);
        console.log(distance);
        // 避難所名と距離を配列に保存
        pharmacy_distances.push({
            name: "{{pharmacy.name}}",
            distance: distance
        });
        {% endfor %}
        // forループの最後で距離順にソートして表示
        if (pharmacy_distances.length === {{ pharmacies | length }}) {
            pharmacy_distances.sort((a, b) => a.distance - b.distance);
            pharmacy_distances.forEach(shelter => {
                var li = document.createElement("li");
                li.textContent = shelter.name + ": " + shelter.distance * 110 + "km";
                li.classList.add("list-group-item")
                document.getElementById("pharmacy_distances").appendChild(li);
            });
        }

        // 地図の初期表示
        var map = L.map('map').setView([myPosition[0], myPosition[1]], 13);

        // 地図タイルの設定
        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            attribution: '© OpenStreetMap contributors'
        }).addTo(map);

        var marker = L.marker([ myPosition[0] , myPosition[1] ]).addTo(map)
            .bindPopup("現在地")
            .openPopup();
        marker.setIcon(L.icon({
            iconUrl: "https://raw.githubusercontent.com/pointhi/leaflet-color-markers/master/img/marker-icon-2x-black.png",
            shadowUrl: "https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.7/images/marker-shadow.png",
            iconSize: [25, 41],
            iconAnchor: [12, 41],
            popupAnchor: [1, -34],
            shadowSize: [41, 41]
        }));

        // 避難所のマーカーを追加
        {% for shelter in shelters %}
        var marker = L.marker([{{ shelter.Latitude }}, {{ shelter.Longitude }}]).addTo(map)
            .bindPopup('{{ shelter.name }}')
            .openPopup();
        marker.setIcon(L.icon({
            iconUrl: "https://raw.githubusercontent.com/pointhi/leaflet-color-markers/master/img/marker-icon-2x-green.png",
            shadowUrl: "https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.7/images/marker-shadow.png",
            iconSize: [25, 41],
            iconAnchor: [12, 41],
            popupAnchor: [1, -34],
            shadowSize: [41, 41]
        }));
        {% endfor %}
        {% for hospital in hospitals %}
        var marker = L.marker([{{ hospital.Latitude }}, {{ hospital.Longitude }}]).addTo(map)
            .bindPopup('{{ hospital.name }}')
            .openPopup();
        marker.setIcon(L.icon({
            iconUrl: "https://raw.githubusercontent.com/pointhi/leaflet-color-markers/master/img/marker-icon-2x-red.png",
            shadowUrl: "https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.7/images/marker-shadow.png",
            iconSize: [25, 41],
            iconAnchor: [12, 41],
            popupAnchor: [1, -34],
            shadowSize: [41, 41]
        }));
        {% endfor %}
        {% for pharmacy in pharmacies %}
        var marker = L.marker([{{ pharmacy.Latitude }}, {{ pharmacy.Longitude }}]).addTo(map)
            .bindPopup('{{ pharmacy.name }}')
            .openPopup();
        marker.setIcon(L.icon({
            iconUrl: "https://raw.githubusercontent.com/pointhi/leaflet-color-markers/master/img/marker-icon-2x-blue.png",
            shadowUrl: "https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.7/images/marker-shadow.png",
            iconSize: [25, 41],
            iconAnchor: [12, 41],
            popupAnchor: [1, -34],
            shadowSize: [41, 41]
        }));
        {% endfor %}

    });

    
</script>



{% endblock %}