{% extends "layout.html" %}

{% block title %}
Q&A
{% endblock %}

{% block top %}
<p>
  <div class="position-absolute top-50 start-50 translate-middle">
        <h1>よくある質問    </h1>

        <div class="accordion" id="accordionExampleOne">
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingOne">
              <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                LINE友達にならないと利用できないですか？
              </button>
            </h2>
            <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExampleOne">
              <div class="accordion-body">
                <strong>利用は出来ますが、アカウント登録にLINEアカウントを使う必要があります</strong>
              </div>
            </div>
          </div>
        </div>

          
        <div class="accordion" id="accordionExampleTwo">
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingTwo">
              <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                どうやってアカウントの詳細を変えるのですか
              </button>
            </h2>
            <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExampleTwo">
              <div class="accordion-body">
                <strong>profileから住所、生年月日、性別を変えることができます</strong>
              </div>
            </div>
          </div>
        </div>
          
        <div class="accordion" id="accordionExampleThree">
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingThree">
              <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="true" aria-controls="collapseThree">
                支援物資の検索は物資名でもできますか
              </button>
            </h2>
            <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExampleThree">
              <div class="accordion-body">
                <strong>可能です</strong>
              </div>
            </div>
          </div>
        </div>
          
        <div class="accordion" id="accordionExampleFour">
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingFour">
              <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="true" aria-controls="collapseFour">
                infoの情報は、なにをもとにしているのですか
              </button>
            </h2>
            <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour" data-bs-parent="#accordionExampleFour">
              <div class="accordion-body">
                <strong>岩手県公式サイト、テレビ岩手、X(旧twitter)から取得しています</strong>
              </div>
            </div>
          </div>
          </div>

          <div class="accordion" id="accordionExampleFive">
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingFive">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="true" aria-controls="collapseFive">
                  どうやって家族登録するのですか
                </button>
              </h2>
              <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive" data-bs-parent="#accordionExampleFive">
                <div class="accordion-body">
                  <strong>家族が、あなたの招待リンクにアクセスすることで家族登録できます</strong>
                </div>
              </div>
            </div>
            </div>

            <div class="accordion" id="accordionExampleSix">
              <div class="accordion-item">
                <h2 class="accordion-header" id="headingSix">
                  <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSix" aria-expanded="true" aria-controls="collapseSix">
                    infoの情報は、なにをもとにしているのですか
                  </button>
                </h2>
                <div id="collapseSix" class="accordion-collapse collapse" aria-labelledby="headingSix" data-bs-parent="#accordionExampleSix">
                  <div class="accordion-body">
                    <strong>岩手県公式サイト、テレビ岩手、X(旧twitter)から取得しています</strong>
                  </div>
                </div>
              </div>
              </div>
              <div class="accordion" id="accordionExampleSeven">
                <div class="accordion-item">
                  <h2 class="accordion-header" id="headingSeven">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSeven" aria-expanded="true" aria-controls="collapseSeven">
                      マップの大きさを変えるにはどうすればいいですか
                    </button>
                  </h2>
                  <div id="collapseSeven" class="accordion-collapse collapse" aria-labelledby="headingSeven" data-bs-parent="#accordionExampleSeven">
                    <div class="accordion-body">
                      <strong>指をつかい、拡大すること大きくすることができます</strong>
                    </div>
                  </div>
                </div>
                </div>

                <div class="accordion" id="accordionExampleEight">
                  <div class="accordion-item">
                    <h2 class="accordion-header" id="headingEight">
                      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseEight" aria-expanded="true" aria-controls="collapseEight">
                        現在地が表示されません
                      </button>
                    </h2>
                    <div id="collapseEight" class="accordion-collapse collapse" aria-labelledby="headingEight" data-bs-parent="#accordionExampleEight">
                      <div class="accordion-body">
                        <strong>サイトの現在地の取得を許可してください
                        </strong>
                      </div>
                    </div>
                  </div>
                  </div>

                  <div class="accordion" id="accordionExampleNine">
                    <div class="accordion-item">
                      <h2 class="accordion-header" id="headingNine">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseNine" aria-expanded="true" aria-controls="collapseNine">
                          LINEアカウントがない場合はどうすればよいですか
                        </button>
                      </h2>
                      <div id="collapseNine" class="accordion-collapse collapse" aria-labelledby="headingNine" data-bs-parent="#accordionExampleNine">
                        <div class="accordion-body">
                          <strong>作りましょう！</strong>
                        </div>
                      </div>
                    </div>
                    </div>
    </div>

{% endblock %}