{% extends "layout.html" %}

{% block title %}
shelter_list
{% endblock %}

{% block top %}
<h1>物資検索</h1>
<form action="/shelter_list">
    <input type="search" name="search" id="search">
    <input type="submit" value="検索">
</form>

<h2>物資の情報</h2>
{% if not shelters: %}
<p>結果はありません</p>
{% else %}
<ul class="list-group">
{% for shelter in shelters %}
<li class="list-group-item">{{ shelter.name }}</li>
{% endfor %}
</ul>
{% endif %}

<h2>名前の情報</h2>
{% if not shelter_names: %}
<p>結果はありません</p>
{% else %}
<ul class="list-group">
    {% for shelter_name in shelter_names %}
    <li class="list-group-item">{{ shelter_name.name }}</li>
    {% endfor %}
</ul>
{% endif %}

{% endblock %}