{% extends "layout.html" %}

{% block title %}
shelter_list
{% endblock %}

{% block top %}
<h1>物資検索</h1>
<form action="/shelter_list">
    <input type="search" name="search" id="search">
    <input type="submit" value="検索">
</form>

<h2>物資の情報</h2>
{% if not relief_supplies: %}
<p>結果はありません</p>
{% else %}
<ul class="list-group">

    <table class="table">
        <thead>
          <tr>
            <th scope="col">名前</th>
            <th scope="col">物資名</th>
            <th scope="col">全体の数</th>
            <th scope="col">あまりの数</th>
          </tr>
        </thead>

        <tbody>

    {% for relief_suppliy in relief_supplies %}
    <tr>
      <th scope="row">{{ relief_suppliy.shelter.name }}</th>
      <td>{{ relief_suppliy.reliefsuppliescategory.name }}</td>
      <td>{{ relief_suppliy.required_number }}</td>
      <td>{{ relief_suppliy.required_number - relief_suppliy.used_number }}</td>
    </tr>
{% endfor %}
</tbody>
</table>
</ul>
{% endif %}

{% endblock %}